<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>

      <!-- SQL dialect -->
      <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
      <!-- Mapping files -->
      <mapping resource="com/market/model/User.hbm.xml"/>
      <mapping resource="com/market/model/Role.hbm.xml"/>
      <mapping resource="com/market/model/Product.hbm.xml"/>

  </session-factory>
</hibernate-configuration>